<!doctype html>
	<html>
  <head>
    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	    <title>Tgrays2001.github.io by tgrays2001</title>
	    <link rel="stylesheet" href="stylesheets/styles.css">
	    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	    <script src="javascripts/respond.js"></script>
	    <!--[if lt IE 9]>
	      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	    <!--[if lt IE 8]>
	    <link rel="stylesheet" href="stylesheets/ie.css">
	    <![endif]-->
	    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
	  </head>
	  <body>
	      <div id="header">
	        <nav>
	          <li class="fork"><a href="https://github.com/tgrays2001">View On GitHub</a></li>
						<li class="fork"><a>Home</a></li>
						<li class="fork"><a>Bio</a></li>
						<li class="fork"><a>Blog</a></li>
						<li class="fork"><a>Find Me</a></li>
	        </nav>
	      </div><!-- end header -->
	
	    <div class="wrapper">
	
			

	      <section>
	        <div id="title">
	          <h1>Tech as I See It</h1>
	          <p></p>
	          <hr>
	          <span class="credits left">Project maintained by <a href="https://github.com/tgrays2001">tgrays2001</a></span>
	          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
	        </div>
	
	        <h3>
	<a name="the-tech-world-as-i-see-it" class="anchor" href="#the-tech-world-as-i-see-it"><span class="octicon octicon-link"></span></a>The Tech World As I See It</h3>
	
	<p>You have landed in a place not known to many, Congratulations! This place will take you on a journey. Hopefully one that will help you to understand and appreciate technology as I do.
	<img src="https://www.google.com/search?q=technology&amp;source=lnms&amp;tbm=isch&amp;sa=X&amp;ei=v099U_fcHbCI8QGN_oCgAw&amp;sqi=2&amp;ved=0CAYQ_AUoAQ&amp;biw=1600&amp;bih=742#facrc=_&amp;imgdii=_&amp;imgrc=YIWZ4mFrfefk6M%253A%3Bo9RjEeRN5OTBbM%3Bhttp%253A%252F%252Fbeck-technology.com%252Fimages%252Fbt_image00_home.jpg%3Bhttp%253A%252F%252Fbeck-technology.com%252F%3B920%3B670" alt=""></p>
	
	<p>Find Me @:
	<a href="https://github.com/tgrays2001">GitHub</a></p>
	      </section>
	
	    </div>
	    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
				<section>
					{{ content }}
				</section>
	    
	  </body>
	</html>
